 body {
    font-family: sans-serif;
    background-color: brown;
    text-align: center;
    padding: 20px;
    color: chartreuse;
 }

 h1 {
    color: wheat;
 }

 img {
    width: 300px;
    border-radius: 12px;
 }

 ul {
    list-style-type: none;
    padding: 0;
 }

 li {
    margin: 10px 0;
    font-size: 18px;
 }